---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import { getCollection } from 'astro:content';

const blogs = await getCollection("blogs");

const latestblogs = blogs
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 4)

const preloads = [
	  {
    href: "/fonts/SpaceGrotesk-600.woff2",
    as: "font",
    type: "font/woff2",
    crossorigin: "anonymous",
  },
];

const title = "Fernando Guerrero"
const robots = "index,follow"
const canonical = "https://fernandoguerrero.dev"
const description = "Inmortalizando mi presencia en la red. P谩gina web, portfolio, blog, contacto. Aqu铆 encontrar谩s mi piezas de mi trabajo y una parte de mi."

---

<Layout title={title} preloads={preloads} robots={robots} canonical={canonical} description={description}>

  <div class="relative bg-brand-dark overflow-hidden">

		<div
			aria-hidden="true"
			class="
				z-0
				pointer-events-none
				absolute inset-0
				bg-[url(/images/bg-grid.png)]
				opacity-10
				[mask-image:radial-gradient(circle_at_center,white_0%,white_30%,transparent_70%)]
				[-webkit-mask-image:radial-gradient(circle_at_center,white_0%,white_30%,transparent_70%)]
			"
		></div>

		<main class="min-h-[90svh] relative z-10 mb-16">

			<div class="mx-auto max-w-2xl px-4 md:px-0">

				<header class="text-left pt-8">

					<nav class="flex gap-6 items-center">

						<a class="flex gap-2 text-brand-white items-center cursor-pointer" href="/contacto">
							<i class="icon-[fe--info] size-4" aria-hidden="true"></i>
							<span class="underline">Contacto</span>
						</a>

						<a class="flex gap-2 text-brand-white items-center cursor-pointer" href="/404">
							<i class="icon-[prime--box] size-4" aria-hidden="true"></i>
							<span class="underline">Proyectos</span>
						</a>

						<a class="flex gap-2 text-brand-white items-center cursor-pointer" href="/404">
							<i class="icon-[ph--article] size-4" aria-hidden="true"></i>
							<span class="underline">Art铆culos</span>
						</a>

					</nav>


					<div class="flex items-center gap-3 pt-12">
						<h1 class="text-brand-white text-h1 leading-tight">Fernando Guerrero</h1>
						<i class="icon-[octicon--verified-16] text-brand-accent size-6" role="img" aria-hidden="true"></i>
					</div>

					<p class="text-brand-white/90 mt-4 text-h5 font-geist">Marketing<span> 路 </span>Desarrollo Web<span> 路 </span>Dise帽o Gr谩fico</p>
						
					<p class="mt-4 text-base text-brand-white/60 leading-relaxed">
						Trabajo entre marketing y desarrollo, creando soluciones simples y duraderas, centradas en el usuario y el cliente.
					</p>
						
				</header>

				<div class="py-12 md:py-16">
					<hr class="border-brand-white/20">
				</div>

				<section id="proyectos">
					<h2 class="text-h2 text-brand-white mb-6">
						Experiencia
					</h2>

					<ol class="flex flex-col gap-y-8">

						<li class="flex flex-col px-6 py-8 border-1 bg-brand-dark border-brand-white/20 rounded-lg">

							<div class="flex flex-col md:flex-row gap-x-6">
								<div class="shrink-0 mb-2 md:mb-0">
									<img class="size-16 object-cover" alt="" aria-hidden="true" width="64" height="64" src="/images/fsi.svg"/>
								</div>

								<div>
									<h3 class="text-h3">Responsable de Marketing</h3>
									<div class="flex flex-row gap-x-2 mb-2 text-brand-white/60">
										<a class="flex underline" href="https://fsi.training/" target="_blank" rel="noopener">FSI Training</a>
										<span aria-hidden="true">路</span>
										<time>2024 - actualidad</time>
									</div>
									<p class="text-brand-white/50 hidden md:block">
										Coordinaci贸n de un equipo reducido y gesti贸n integral de marketing: desarrollo web y anal铆tica, reporting para direcci贸n, gesti贸n de CRM, edici贸n de clases y organizaci贸n de eventos internacionales.
									</p>
								</div>
							</div>

							<div class="block mt-2 md:hidden">
								<p class="text-brand-white/50" aria-hidden="true">
									Coordinaci贸n de un equipo reducido y gesti贸n integral de marketing: desarrollo web y anal铆tica, reporting para direcci贸n, gesti贸n de CRM, edici贸n de clases y organizaci贸n de eventos internacionales.
								</p>
							</div>

						</li>


						<li class="flex flex-col px-6 py-8 border-1 bg-brand-dark border-brand-white/20 rounded-lg">

							<div class="flex flex-col md:flex-row gap-x-6">
								<div class="shrink-0 mb-2 md:mb-0">
									<img class="size-16 object-cover" alt="" aria-hidden="true" width="64" height="64" src="/images/sidn.svg"/>
								</div>

								<div>
									<h3 class="text-h3">Analista de Datos - Dashboard & Interface Design</h3>
									<div class="flex flex-row gap-x-2 mb-2 text-brand-white/60">
										<a class="flex underline" href="https://www.sidn.es/" target="_blank" rel="noopener">SIDN Digital Thinking</a>
										<span aria-hidden="true">路</span>
										<time>2024</time>
									</div>
									<p class="text-brand-white/50 hidden md:block">Dise帽o de interfaces para IA conversacional, dashboards y reportes para clientes, tracking web de eventos, creaci贸n de presentaciones de producto y documentaci贸n p煤blica de servicios del departamento.</p>
								</div>
							</div>

							<div class="block mt-2 md:hidden">
								<p class="text-brand-white/50" aria-hidden="true">Dise帽o de interfaces para IA conversacional, dashboards y reportes para clientes, tracking web de eventos, creaci贸n de presentaciones de producto y documentaci贸n p煤blica de servicios del departamento.</p>
							</div>

						</li>

					</ol>

				</section>

				<div class="py-12 md:py-16">
					<hr class="border-brand-white/20">
				</div>

				<section>
					<h2 class="text-h2 text-brand-white mb-6">
						Tecnolog铆as
					</h2>

					<ul class="grid grid-cols-4 gap-4 md:grid-cols-8 md:gap-6">
						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-fuchsia-500" title="Astro">
							<img src="images/astro.svg" alt="Astro" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-cyan-500" title="Tailwind">
							<img src="images/tailwind.svg" alt="Tailwind" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-yellow-500" title="JavaScript">
							<img src="images/javascript.svg" alt="JavaScript" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-sky-500" title="WordPress">
							<img src="images/wordpress.svg" alt="WordPress" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-orange-500" title="Google Analytics">
							<img src="images/ganalytics.svg" alt="Google Analytics" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-blue-500" title="Google Looker Studio">
							<img src="images/glookerstudio.svg" alt="Google Looker Studio" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-orange-800" title="Adobe Illustrator">
							<img src="images/aillustrator.svg" alt="Illustrator" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-blue-800" title="Adobe Photoshop">
							<img src="images/aphotoshop.svg" alt="Photoshop" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-indigo-500" title="Adobe Premiere">
							<img src="images/apremiere.svg" alt="Adobe Premiere" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-violet-500" title="Adobe After Effects">
							<img src="images/aaftereffects.svg" alt="Adobe After Effects" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-rose-700" title="Adobe InDesign">
							<img src="images/aindesign.svg" alt="Adobe InDesign" width="64" height="64" class="p-4" />
						</li>

						<li class="size-18 md:size-16 flex items-center justify-center border rounded-xl border-brand-white/30 bg-brand-semidark hover:scale-105 duration-300 ease-in-out transition hover:border-slate-200" title="Figma">
							<img src="images/figma.svg" alt="Figma" width="64" height="64" class="p-4" />
						</li>
					</ul>

				</section>

				<div class="py-12 md:py-16">
					<hr class="border-brand-white/20">
				</div>

				<section>
					<h2 class="text-h2 text-brand-white mb-6">
						Novedades
					</h2>

					<ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
						
						{
							latestblogs.length === 0 && <p>No hay blogs disponibles en este momento </p>
						}
						
						{
							latestblogs.map((b) => {
								return (

									<li>
										<div class="bg-brand-dark border border-brand-white/20 rounded-lg hover:border-brand-white/60 hover:bg-brand-semidark transition duration-300">

											<a href={`/articulos/${b.slug}`} class="flex flex-col p-6 group">

												<img class="mb-4 rounded-md" src={b.data.cover} alt={b.data.coveralt} />
												
												<div class="flex justify-between text-sm text-brand-white/40 mt-2">
													<p>{b.data.category}</p>
													<time>
														{
															b.data.date.toLocaleDateString("es-ES", {
																day: "numeric",
																month: "short",
																year: "numeric",
															})
														}
													</time>
												</div>

												<h3 class="article-title mt-2 mb-4 text-base">{b.data.title}</h3>

												<div class="flex flex-col items-start justify-normal md:flex-row md:items-center md:justify-between">
												{
													b.data.tags?.length > 0 && (
														<footer>
															<ul class="flex gap-2 lg:gap-4">
																{b.data.tags.map((t) => (
																	<li class="px-2 py-1 border rounded-sm border-brand-white/20 text-xs text-brand-white/50">
																		{t}
																	</li>
																))}
															</ul>
														</footer>
													)
												}
												</div>
											</a>
										</div>
									</li>
								)
							})
						}

					</ul>
				
				</section>

			</div>

		</main>

		<Footer />

	</div>

</Layout>
